/* Write your CSS here */
.todo-item-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3px;
  margin: 4px;
}
.todo-item {
  color: #000000;
  font-family: 'Roboto';
  font-size: 20px;
}

.delete-button {
  background-color: #ffffff;
  color: #ff0b37;
  border-style: solid;
  border-radius: 6px;
  border-width: 2px;
  border-color: #ff0b37;
  font-size: 17px;
  margin-left: 5px;
}
